<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/analysis.css">
    <title>Document</title>
</head>
<body>
    <h1>Get your analysis here</h1>
    <h3>Per user analysis</h3>
    <img src="assets/analysis1.png">
    <h3>Overall class inattentiveness analysis</h3>
    <img src="assets/analysis2.png"
</body>
</html>