<!doctype html>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=,, initial-scale=1.0">
        <link rel="stylesheet" href="../static/styles/index.css">
        <title>Analysis</title>
    </head>
    <body>
        <div class="screen">
            <h1>Third Eye</h1>
            <h3>Check how boring your lectures are  &#128521</h3>
            <div class="button">
                <div class="run-code">
                    <p>Click Run to start the capturing data</p>
                    <form action="/results">
                        <input type="submit" class="submit" value="Run" onclick="renderTextMsg()"/>
                    </form>
                </div>
			</div>
            <div id="note"></div>
			<div id="text-msg"></div>
        </div>
    </body>
    <script>
        function renderTextMsg(){
            let textWarning = document.getElementById('text-msg');
            textWarning.innerHTML = 'Please shift to your Google Meet Web-App screen.';
			let note = document.getElementById('note');
			note.innerHTML = 'Press Ctrl + Alt + L to terminate the "Run" process and see results ';
        }
    </script>
    </html>